

/* ---------- google fonts ---------- */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap');



/* ---------- common css ---------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.container{
    padding: 10px 30px;
    margin: 0 auto;
    max-width: 1100px;
    /* border: 1px solid red; */
}
.section_header{
    font-size: 45px;
}


/* ---------- header menu ---------- */
#header{
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#header>nav ul{
    display: flex;
    
    list-style-type: none;
}
#header>nav ul li{
    /* border: 1px solid green; */
    padding: 10px;
    margin: 5px;
}
#header>nav ul li a{
    color: black;
    font-size: 18px;
    text-decoration: none;
    
}

/* ---------- section : landing page ---------- */
#landing_page{
    background-color: #FFF4E7;
}
.landing_description{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.landing_description h1{
    font-size: 64px;
    margin: 30px 0;

    line-height: 60px;
    
}
#landing_page div{
    text-align: center;
}
#landing_page div button{
    width: 200px;
    margin: 30px;
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #FF900E;
    cursor: pointer;
}
.landing_img img{
    width: 100%;
}





/* ---------- section : features ---------- */
#features{
    display: flex;
}
#features div{
    width: 50%;
}
.feature_imgs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.feature_imgs img{
    width: 100%;
    padding: 10px;
}
.feature_des{
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 20px;
    
}


.feature_des h2 span:nth-child(1){
    font-size: 45px;
    font-weight: 500;
    color: rgb(150, 149, 149);
}

.feature_des h2 span:nth-child(2){
    color: #FF900E;
}
.feature_des p{
    color: rgb(78, 78, 78);
}
.feature_des button{
    width: 150px;
    padding: 15px 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #FF900E;
    font-size: 15px;
    font-weight: 500;
}



/* ---------- section : lovely & enjoy ---------- */
#enjoy_lovely_features{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lovely_child_des{
    margin: 20px 0;
}





.lovely_c_box{
    /* border: 1px solid; */
    margin: 10px 20px 10px 10px;
    padding: 20px 20px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
.lovely_c_box h2{
    font-size: 20px;
    font-weight: 600;
}











.lovely_feature_child img{
    width: 100%;
}

/* ---------- section : some facts ---------- */
#some_facts{
    margin-top: 30px;
    padding: 30px 0;
}

.fact_child:nth-child(2){
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 50px;
    
}
.fact_child_box{
    border: 1px solid;
    border-radius: 5px;
    margin: 20px 10px;
    padding: 30px 0;
    text-align: center;
}
.fact_child_box img{
    margin: 10px;
}






/* ---------- section : Our Sponspors ---------- */
#sponspors{
    padding: 50px 0;
}


.sponsor_child:nth-child(2){
    display: flex;
}

.sponsor_child:nth-child(2) img{
    margin: 10px;
    padding: 25px;
    width: 75%;
    /* border: 1px solid; */
    filter: grayscale();
}





/* ---------- section : footer ---------- */
#footer .container{
    padding: 5px;
    text-align: center;
    background-color: #FFF4E7;
}











